<a href="https://colab.research.google.com/github/alt-Pranav/Pulzion-22-DataQuest/blob/master/DataQuest_PranavBhagwat.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

INCOMPLETE, LEFT AT DATA CLEANING STAGE ON 18/04/2022 due to time crunch and other responsibilities.

**DATAQUEST ENTRY FOR PULZION '22 BY PRANAV BHAGWAT**

TE-BE Round 1

**Overview:**

Pulzion’22 has become talk of the town! Many shops have started selling official Pulzion merchandise and the marketing team of Pulzion wants to give concessions to the shops which might sell the maximum number of goodies. Help the Pulzion marketing team determine which shop might sell the maximum number of products and also which product that might be based on some previous data given by the shops.


**Evaluation:**

You have to predict two variables: ‘product’ and ‘num_sold.’ The evaluation metric is (true positives for product ‘Tee’ / total number of product ‘Tee’) + rmse for num_sold.


**File Description:**

dataquest_train:  Training data

dataquest_test: Test set on which predictions are to be made

Sample_Submission: Way to submit the Submission.csv on the Pulzion Submission Platform. 


**Data Fields:**

row_id: the serial number of that entry

date: date of the entry

store: name of the store

product: name of the product

num_sold: number of products sold

latitude: physical latitude of the store

longitude: physical longitude of the store

zone: physical zone of the store

official_franchisee: whether the store is officially registered with Pulzion

review: review given by customers

area: total floor area of the shop

rent: rent paid by the shop

working_hrs: operation time of the store

online_availability: whether the store sells its goods online

phone_no: contact number of the shop

In [ ]:
import pandas as pd
import seaborn as sns

train_url = "https://raw.githubusercontent.com/alt-Pranav/Pulzion-22-DataQuest/master/TE-BE_Round%201/dataquest_train.csv"

df_train = pd.read_csv(train_url)
df_train

,row_id,date,store,product,num_sold,latitude,longitude,zone,official_franchisee,review,area,rent,Working_hrs,Online_availability,Phone-no
0,1,1/1/2015,CMart,2,520,73.8446,18.531444,north,Yes,worst shop,2990,33227,7.5,Y,7.720200e+09
1,2,1/1/2015,CMart,1,146,73.8652,18.453125,south,No,"['Worst service', 'Not at all customer friendl...",2696,23363,9.0,Y,7.928620e+09
2,3,1/1/2015,Petals,0,572,73.9040,18.545940,east,No,this shopkeepr bery rood cannot even exchange ...,958,54788,7.5,Y,9.075213e+09
3,4,1/1/2015,Petals,2,911,73.8031,18.559964,north,No,:),1705,45536,7.5,N,9.075212e+09
4,5,1/1/2015,Petals,1,283,73.8652,18.452509,south,Yes,worst shop,2805,26866,9.5,Y,9.075213e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15175,26293,12/31/2018,Lifestyle,2,823,73.8031,NaN,NaN,No,worst shop,2276,51053,9.5,N,9.371100e+09
15176,26294,12/31/2018,Lifestyle,1,250,73.8652,18.452724,south,Yes,worst shop,1688,10416,9.0,Y,7.620100e+09
15177,26295,12/31/2018,Only Vimal,0,1004,73.8652,18.453101,south,No,:),1361,12394,9.0,Y,7.720200e+09
15178,26296,12/31/2018,Only Vimal,2,1441,73.8940,18.535900,east,No,:),1972,45907,6.5,N,9.271200e+09
15179,26297,12/31/2018,Only Vimal,1,388,73.8217,18.491617,south,No,worst shop,2848,49655,7.0,Y,7.720200e+09

In [ ]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15180 entries, 0 to 15179
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   row_id               15180 non-null  int64
 1   date                 15180 non-null  object
 2   store                15180 non-null  object
 3   product              15180 non-null  int64
 4   num_sold             15180 non-null  int64
 5   latitude             15180 non-null  float64
 6   longitude            13594 non-null  float64
 7   zone                 14381 non-null  object
 8   official_franchisee  15180 non-null  object
 9   review               12088 non-null  object
 10  area                 15180 non-null  int64
 11  rent                 15180 non-null  int64
 12  Working_hrs          15180 non-null  float64
 13  Online_availability  13684 non-null  object
 14  Phone-no             15180 non-null  float64
dtypes: float64(4), int64(5), object(6)
memory usage: 1.7+ MB

In [ ]:
df_train["store"].unique()

array(['CMart', 'Petals', 'PTK Garments', 'CLai', 'Planet Fashion',
       'Lifestyle', 'Only Vimal', 'Pantaloons'], dtype=object)

In [ ]:
'''
approach:
for zone: prev values for same store, if multiple then pick mode
for longitude: prev values for same store with same zone
for review: put sentiment as ambivalent
for online availability: put N
'''

df_train.isna().sum()

row_id                    0
date                      0
store                     0
product                   0
num_sold                  0
latitude                  0
longitude              1586
zone                    799
official_franchisee       0
review                 3092
area                      0
rent                      0
Working_hrs               0
Online_availability    1496
Phone-no                  0
dtype: int64

In [ ]:
df_train.isnull().sum()

row_id                    0
date                      0
store                     0
product                   0
num_sold                  0
latitude                  0
longitude              1586
zone                    799
official_franchisee       0
review                 3092
area                      0
rent                      0
Working_hrs               0
Online_availability    1496
Phone-no                  0
dtype: int64

In [ ]:
df_train["Online_availability"].fillna("N", inplace=True)
df_train.isnull().sum()

row_id                    0
date                      0
store                     0
product                   0
num_sold                  0
latitude                  0
longitude              1586
zone                    799
official_franchisee       0
review                 3092
area                      0
rent                      0
Working_hrs               0
Online_availability       0
Phone-no                  0
dtype: int64

In [ ]:
df_train.columns

Index(['row_id', 'date', 'store', 'product', 'num_sold', 'latitude',
       'longitude', 'zone', 'official_franchisee', 'review', 'area', 'rent',
       'Working_hrs', 'Online_availability', 'Phone-no'],
      dtype='object')

In [ ]:
df_train[df_train["store"]=="Lifestyle"]["zone"].mode()

#df_train[df_train["store"]=="Lifestyle"]["zone"].value_counts()

0    south
dtype: object

In [ ]:
stores = df_train["store"].unique()
stores

array(['CMart', 'Petals', 'PTK Garments', 'CLai', 'Planet Fashion',
       'Lifestyle', 'Only Vimal', 'Pantaloons'], dtype=object)

In [ ]:
zoneModeForEachStore = {}
for i in stores:
  zoneModeForEachStore[i] = df_train[df_train["store"]=="Lifestyle"]["zone"].mode()
  
zoneModeForEachStore

{'CLai': 0    south
 dtype: object, 'CMart': 0    south
 dtype: object, 'Lifestyle': 0    south
 dtype: object, 'Only Vimal': 0    south
 dtype: object, 'PTK Garments': 0    south
 dtype: object, 'Pantaloons': 0    south
 dtype: object, 'Petals': 0    south
 dtype: object, 'Planet Fashion': 0    south
 dtype: object}

In [ ]:
zoneModeForEachStore["CLai"][0]

'south'

In [ ]:
df_train["zone"].fillna("south", inplace=True)

df_train.isnull().sum()

row_id                    0
date                      0
store                     0
product                   0
num_sold                  0
latitude                  0
longitude              1586
zone                      0
official_franchisee       0
review                 3092
area                      0
rent                      0
Working_hrs               0
Online_availability       0
Phone-no                  0
dtype: int64

In [ ]:
len(df_train[df_train["store"] == "CMart"]["longitude"].unique()) # 1309 unique longitudes for CMart

1309